# Ignorar APKs
build/app/outputs/flutter-apk/*.apk

# Ignorar carpetas generadas automáticamente
build/
dist/

# Ignorar archivos del entorno
.env

# Ignorar archivos de compilación de Dart y Flutter
.dart_tool/
build/

